html {
    overflow-y: scroll;
    min-height: 100%;
    font-size: 100.01%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: rgb(207, 207, 207);
    color: rgb(61, 61, 61);
    font-family: 'Open Sans', arial, sans-serif;
    min-height: 100%;
    margin: 0px;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: normal 81.25%/1.5 arial, helvetica, sans-serif;
}

body, select, input, textarea {
    color: rgb(68, 68, 68);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
.supercontainer{
    width: 80%;
    margin: 0 auto;
}

a {
    color: rgb(30, 105, 166);
}

ul {
    list-style: none outside;
}

li {
    margin-bottom: 1em;
    line-height: 1.5;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea, select {
    border: 1px solid #ccc;
    padding: .5em .7em;
    font-size: 90%;
    line-height: 1.3em;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 1em;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background-color: rgb(37, 131, 207);
}

#top-header {
    background-color: rgb(61, 61, 61);
}

#top-header {
    min-height: 3em;
    background-color: rgb(61, 61, 61);
    color: rgb(185, 185, 185);
    position: relative;
}

#top-header .mycontainer {
    position: relative;
    min-height: 38px;
}

.mycontainer {
    max-width: 960px;
    margin: 0px auto;
}

#top-header p, #top-header #searchform #s, #top-header #searchform #s:focus {
    color: rgb(185, 185, 185);
}

#top-header p {
    margin: 0px 450px 0px 0px;
    padding: 0.7em 0px;
}

#top-header .header-tools {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -14px;
    overflow: hidden;
}

#top-header #searchform {
    float: right;
}

#top-header #searchform form, #top-header #searchform #s {
    margin: 0px;
}

#top-header p, #top-header #searchform #s, #top-header #searchform #s:focus {
    color: rgb(185, 185, 185);
}

#top-header #searchform #s, .header-tools .socials + .header_flags_lan_selector {
    border-color: rgb(36, 36, 36);
}

#top-header #searchform #s {
    background-color: rgb(41, 41, 41);
}

#top-header #searchform #s {
    padding: 0.5em 2em 0.5em 1em;
    background: url(img/sprite24.png) 100% 0% no-repeat rgb(23, 23, 23);
    border-color: rgb(61, 61, 61);
    border-radius: 7px;
    width: 100px;
    transition: width 200ms ease-out;
    -webkit-transition: width 200ms ease-out;
    opacity: 0.7;
}

#top-header #searchform form, #top-header #searchform #s {
    margin: 0px;
}

.socials {
    margin: 0px;
    display: inline-block;
    width: auto;
}

#top-header .socials, #sitefooter .socials {
    float: right;
    margin-top: 2px;
}

#top-header .socials li, #sitefooter .socials li {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.socials li {
    margin: 0px;
    font-size: 22px;
    float: left;
}

.socials a {
    display: inline-block;
    width: 20px;
    color: rgb(185, 185, 185);
}

#top-header .socials li a, #sitefooter .socials li a {
    background: url(http://demo.averta.net/themes/lotus/all-in-one/wp-content/themes/lotus/css/images/icons/socials/social16.png) 0% 0% no-repeat;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    display: inline-block;
    transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out;
    opacity: 0.25;
}

#top-header .socials li a:hover, #sitefooter .socials li a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#top-header .socials li a.facebook, #sitefooter .socials li a.facebook {
    background-position: -507px 2px;
}

#top-header .socials li a.twitter, #sitefooter .socials li a.twitter {
    background-position: -108px 2px;
}

#top-header .socials li a.gplus, #sitefooter .socials li a.gplus {
    background-position: -557px 2px;
}

#top-header .socials li a.dribble, #sitefooter .socials li a.dribble {
    background-position: -157px 2px;
}

#top-header .socials li a.youtube, #sitefooter .socials li a.youtube {
    background-position: -307px 2px;
}

#top-header .socials li a.vimeo, #sitefooter .socials li a.vimeo {
    background-position: -356px 2px;
}

#top-header .socials li a.delicious, #sitefooter .socials li a.delicious {
    background-position: -56px 2px;
}

#top-header .socials li a.rss, #sitefooter .socials li a.rss {
    background-position: -607px 2px;
}

#top-header #searchform #s:focus { color: white; width: 200px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9 }


header#siteheader {
    background-color: #2583cf;
    border-bottom: 1px solid #4583b4;
}
header#siteheader .mycontainer {
    z-index: 2000;
    margin-bottom: 0px;
}
header#siteheader .mycontainer {
    min-height: 85px;
    color: white;
}
header#siteheader .mycontainer {
    height: 85px;
}
header#siteheader #logo{
    line-height: 85px;
    vertical-align: middle;
}
header#siteheader #logo img{
    width: 100%;
}

.navbarphongee{
    /*background: #efebed url(img/bg_menu.gif) 0 0 repeat-x;*/
    border-radius: 0 !important;
    border: none !important;
    height: 85px;
    margin-bottom: 0 !important;
}

.navbarphongee .nav{
    height: 85px;
}
.navbarphongee .nav>li>a{
    /*background: url(img/menu_line.gif) top right no-repeat;*/
    color: rgb(255, 255, 255);
    /*background-color: rgb(35, 122, 194);*/
    height: 86px;
    line-height: 60px;
    text-align: center;
    min-width: 100px;
    font-size: 13px;
    font-weight: 600;
    text-shadow: none;
    text-transform: uppercase;
}
.navbarphongee .navbar-right li>a{
    /*background: url(img/menu_line.gif) top left no-repeat !important;*/
}
.navbar-nav.navbar-right:last-child{
    /*margin-right: 0 !important;*/
}
.navbarphongee .nav>li>a:hover,
.navbarphongee .active{
    /*background: url(img/bg_menu_act.jpg) 0 0 repeat-x;*/
    background-color: rgb(35, 122, 194);
    border-bottom: 3px solid #333;

}
.nav-child{
    display: none;

}
.nav-child>li{

}
.navbarphongee .nav>li:hover>.nav-child{
    display: block;
    position: absolute;
    width: 200px;
    background: #373737;
    left: 0;
    z-index: 999;
    list-style: none;
    padding-left: 0;
    /*border:#fff 1px solid;*/
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.5);
}
.navbarphongee .nav>li:last-child:hover>.nav-child{
    left: -100px;
}
.navbarphongee .nav>li:hover>.nav-child>li{
    margin-bottom: 0;
}
.navbarphongee .nav>li:hover>.nav-child>li>a{
    color: #fff;
    display: block;
    padding: 10px;
    border-top:1px solid #555;
    border-bottom: 1px solid #333;
    -webkit-transition: background-color 150ms linear, color 150ms linear;
    -moz-transition: background-color 150ms linear, color 150ms linear;
    -o-transition: background-color 150ms linear, color 150ms linear;
    transition: background-color 150ms linear, color 150ms linear;
}
.navbarphongee .nav>li:hover>.nav-child>li:last-child>a{
     border-bottom: none;
}
.navbarphongee .nav>li:hover>.nav-child>li:first-child>a{
    border-top: none;
}
.navbarphongee .nav>li:hover>.nav-child>li>a:hover{
    background: #222;
    text-decoration: none;
}
.slide img{
    width: 100%;
}
